<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NBE Suite">
    <parameter name="browser" value="chrome"/>

    <test name="CustomerAndTariffFlow">
        <classes>
            <class name="NBETest.scenario1.AddCustomerTest"/>
            <class name="NBETest.scenario2.AddTariffPlanToCustomerTest"/>
        </classes>
    </test>
</suite>
